<!--内容区顶部内容-->
<div class="mainHead">
	<div class="bread-warp clearfix">
		<span class="layui-breadcrumb" id="breadcrumb">
			<a href="index.html">首页</a>
			<a href="javascript:void(0);"><strong class="breadName"></strong></a>
			<a href="javascript:void(0);"><strong class="breadName"></strong></a>
		</span>
	</div>
	<div class="msg-count">
		<ul class="clearfix">
			<li class="clearfix" style="border-right: 1px solid #eee;">
				<span>短信条数 :</span>
				<strong id="top_sms_remain" class="text-green">-</strong>
				<a href="">充值</a>
			</li>
			<li class="clearfix">
				<span>软件天数 :</span>
				<strong id="top_days_remain" class="text-blue">-</strong>
				<a href="">升级/续费</a>
			</li>
		</ul>
	</div>
</div>
