<!--页面顶部，主要展示用户图像等内容-->
<div id="layout-top">
	<div class="header-warp clearfix">
		<div class="header-logo">
			<div class="header-title">
				<a href="#"><img src="assets/images/logo.png" alt="沃淘logo" /></a>
			</div>
		</div>
		<div class="header-nav">
			<div class="nav-title navbar-left">
				<a href="#"><span class="crm-icon crm-icon-tongzhi" style="font-size: 16px;"></span>亲爱的掌柜，感谢您对此款热爱与支持，为答谢您，现充值有优惠，充值越多，软件使用时间也会延长哦</a>
			</div>
			<div class="navbar-right">
				<div class="navbar-left">
					<a href="#" class="nav-btn dragbtn nav-btn-default"><span class="crm-icon crm-icon-help" style="font-size: 16px;"></span> 反馈</a>
					<div class="dragdown dragdown-right">
						<p>232</p>
						<p>234</p>
						<p>23423</p>
						<p>23423</p>
					</div>
				</div>
				<div class="navbar-left">
					<a href="#" class="nav-btn dragbtn nav-btn-default"><span class="crm-icon crm-icon-weibiaoti1" style="font-size: 16px;"></span> 客服</a>
					<div class="dragdown dragdown-right">
						<p>232</p>
						<p>234</p>
						<p>23423</p>
						<p>23423</p>
					</div>
				</div>
				<div class="nav-user">
					<div class="user-face">
						<img src="assets/images/userFace.png" alt="用户头像" />
					</div>
					<div class="navbar-left">
						<a href="#" class="nav-btn nav-btn-default dragbtn">
                            <label id="loginUser">正在加载...</label>
                            <span class="crm-icon crm-icon-down" style="font-weight: 700;font-size: 12px;"></span>
                        </a>
						<div class="dragdown dragdown-right">
							<h3>卖家信息</h3>
							<table cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td align="right">用 户 名：</td>
									<td><span id="loginUser2">-</span></td>
								</tr>
								<tr>
									<td align="right">版&nbsp;本：</td>
									<td><span id="softVersion">-</span></td>
								</tr>
								<tr>
									<td align="right">上次登录：</td>
									<td><span id="lastLoginDate">-</span></td>
								</tr>
							</table>
						</div>
					</div>	
					<a href="#" class="nav-btn nav-btn-default"><span class="crm-icon crm-icon-tuichu"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>