<div id="sidebar" class="static-sidebar transition-ease">
    <div class="nav-main">
        <div class="menu-bigSort">
        	<ul id="menu">
        		<li>
        			<a href="index.html">
        				<div class="icon crm-icon crm-icon-shouye"></div>首页
        			</a>
        		</li>
        		<li>
        			<a href="javascript:;">
        				<div class="icon crm-icon crm-icon-kehuguanli"></div>客户管理
        			</a>
        		</li>
        		<li>
        			<a href="javascript:;">
        				<div class="icon crm-icon crm-icon-duanxin01"></div>短信群发
        			</a>
        		</li>
        		<li>
        			<a href="javascript:;">
        				<div class="icon crm-icon crm-icon-pingjia"></div>评价管理
        			</a>
        		</li>
        		<li>
        			<a href="javascript:;">
        				<div class="icon crm-icon crm-icon-yunyingzhongxin"></div>运营分析
        			</a>
        		</li>
        		<li>
        			<a href="javascript:;">
        				<div class="icon crm-icon crm-icon-shujubaobiao"></div>报表分析
        			</a>
        		</li>
        		<li>
        			<a href="javascript:;">
        				<div class="icon crm-icon crm-icon-shezhi"></div>系统设置
        			</a>
        		</li>
        	</ul>
        </div>
    </div>
    <div class="nav-sub transition-ease">
        <div class="wraper">
        	<div class="menu-head-btn">
        		<a id="btnNavEC" href="javascript:;" style="padding-right: 10px;"><span class="crm-icon crm-icon-quxiao1"></span></a>
        	</div>
        	<div>
        		<ul class="menu-child">
	        		<li>
	        			<div class="menu-describe">
	        				<h3>客户管理</h3>
	        			</div>
	        			<ul>
	        				<li>
	        					<a href="custLevel.html">客户等级划分</a>
	        				</li>
	        				<li>
	        					<a href="tagsTidy.html">标签管理</a>
	        				</li>
	        				<li>
	        					<a href="customer.html">客户资料</a>
	        				</li>
	        				<li>
	        					<a href="customerDataAdd.html">客户资料补全</a>
	        				</li>
	        				<li>
	        					<a href="memberAnother.html">会员互动</a>
	        				</li>
	        			</ul>
	        		</li>
	        		<li>
	        			<div class="menu-describe">
	        				<h3>自动化营销</h3>
	        			</div>
	        			<ul>
	        				<li>
	        					<a href="fullMoonGift.html">满月礼</a>
	        				</li>
	        				<li>
	        					<a href="hundredDayGift.html">百日礼</a>
	        				</li>
	        				<li>
	        					<a href="yearsGift.html">周年礼</a>
	        				</li>
	        				<li>
	        					<a href="dormancyCare.html">休眠关怀</a>
	        				</li>
	        				<li>
	        					<a href="birthdayCare.html">生日关怀</a>
	        				</li>
	        			</ul>
	        		</li>
	        	</ul>
	        	<ul class="menu-child">
	        		<li>
	        			<div class="menu-describe">
	        				<h3>营销短信</h3>
	        			</div>
	        			<ul>
	        				<li>
	        					<a href="memberMsgSendAll.html">会员短信群发</a>
	        				</li>
	        				<li>
	        					<a href="pointMobileSend.html">指定号码群发</a>
	        				</li>
	        				<li>
	        					<a href="orderNoteSend.html">订单短信群发</a>
	        				</li>
	        				<li>
	        					<a href="blacklist.html">短信黑名单</a>
	        				</li>
	        				<li>
	        					<a href="msgSendRecord.html">短信发送记录</a>
	        				</li>
	        			</ul>
	        		</li>
	        		<li>
	        			<div class="menu-describe">
	        				<h3>订单关怀</h3>
	        			</div>
	        			<ul>
	        				<li><a href="orderRemind.html">下单提醒</a></li>
	        				<li><a href="noPayRemind.html">未付款提醒</a></li>
	        				<li><a href="payCare.html">付款关怀</a></li>
	        				<li><a href="delayConsignmentCare.html">延迟发货提醒</a></li>
	        				<li><a href="ConsignmentRemind.html">发货提醒</a></li>
	        				<li><a href="consignArriveRemind.html">物流到货提醒</a></li>
	        				<li><a href="sendRemind.html">派送提醒</a></li>
	        				<li><a href="signRemind.html">签收提醒</a></li>
	        				<li><a href="cowryCare.html">宝贝关怀</a></li>
	        				<li><a href="backMoneyCare.html">回款关怀</a></li>
	        				<li><a href="retreatCare.html">退款关怀</a></li>
	        				<li><a href="urgeEval.html">催评价</a></li>
	        				<li><a href="evalCare.html">评价关怀</a></li>
	        				<li><a href="mediumEvalCft.html">中差评安抚</a></li>
	        			</ul>
	        		</li>
	        		<li>
	        			<div class="menu-describe">
	        				<h3>掌柜预警</h3>
	        			</div>
	        			<ul>
	        				<li><a href="lowerEvalLiMonitor.html">中差评监控</a></li>
	        				<li><a href="quitPrevent.html">退货预警</a></li>
	        				<li><a href="productPrevent.html">商品预警</a></li>
	        			</ul>
	        		</li>
	        	</ul>
        		<ul class="menu-child">
        			<li>
        				<div class="menu-describe">
        					<h3>评价管理</h3>
        				</div>
        				<ul>
        					<li><a href="autoEval.html">自动评价</a></li>
        					<li><a href="EvalRecord.html">评价记录</a></li>
        					<li><a href="evalBlacklist.html">评价黑名单</a></li>
        				</ul>
        			</li>
        		</ul>
        		<ul class="menu-child">
        			<li>
        				<div class="menu-describe">
        					<h3>运营分析</h3>
        				</div>
        				<ul>
        					<li><a href="memberRankRpt.html">会员等级分析</a></li>
        					<li><a href="memberMonthRpt.html">交易时间分析</a></li>
        					<li><a href="memberMoneyRpt.html">交易金额分析</a></li>
        					<li><a href="memberCountRpt.html">交易次数分析</a></li>
        					<li><a href="memberAreaRpt.html">交易地区分析</a></li>
        				</ul>
        			</li>
        		</ul>
        		<ul class="menu-child">
        			<li>
        				<div class="menu-describe">
        					<h3>报表分析</h3>
        				</div>
        				<ul>
        					<li><a href="orderDoneRpt.html">订单成交分析</a></li>
        					<li><a href="RFMrpt.html">RFM标准分析</a></li>
        					<li><a href="RFMcustomRpt.html">RFM自定义分析</a></li>
        					<li><a href="DSREval.html">DSR评价</a></li>
        					<li><a href="guestOrderFlow.html">客单走势</a></li>
        					<li><a href="urgeEvalCount.html">催评效果统计</a></li>
        				</ul>
        			</li>
        		</ul>
        		<ul class="menu-child">
        			<li>
        				<div class="menu-describe">
        					<h3>系统设置</h3>
        				</div>
        				<ul>
        					<li><a href="setMobile.html">手机号设置</a></li>
        					<li><a href="addMsgNum.html">短信充值</a></li>
        					<li><a href="msgExpendRecord.html">短信消耗记录</a></li>
        					<li><a href="amendLoginPass.html">修改登录密码</a></li>
        					<li><a href="multiStoreManage.html">多店铺管理</a></li>
        					<li><a href="seedAccountManage.html">子账号管理</a></li>
        					<li><a href="addMsgSet.html">增加短信设置</a></li>
        					<li><a href="addHandleLog.html">增加操作日志</a></li>
        				</ul>
        			</li>
        		</ul>
        	</div>
        </div>
    </div>
</div><script src="assets/js/sidebar.js" type="text/javascript" charset="utf-8"></script>
