<div class="sms-info">
    <div>
        <span>已输入：<label name="smsLen">0</label>字(包含签名)计费：<label name="smsCount">1</label>条</span>
        <a href="javascript:void(0);">短信模板</a>
        <a href="javascript:void(0);" class="tip-jifei">
            <label>计费规则</label>
            <div class="tip-jifei-detail">
                <ol>
                    <li>1、单条70个字,超出70个字将按照67个字每条计算</li>
                    <li>2、一个汉字、数字、字母、空格都算一个字</li>
                    <li>3、带标签的短信按实际发出的长度计算！</li>
                    <li>4、签名不能大于9个字符，每次最多短信长度为500字！</li>
                </ol>
                <i></i>
            </div>
        </a>
    </div>
</div>