<script>
    layui.use(['common', 'form', 'laypage', 'laydate', 'dispgrid'], function () {
        var $ = layui.jquery,
			com = layui.common(),
            form = layui.form(),
            layer = layui.layer,
            laypage = layui.laypage;

        com.init();
        
        //加载列表
        var dispGrid = layui.dispgrid({
            checkAll: true,
            dataParams: {
                sort: 'id',
                dir: 'DESC',
                billType: 'CRM_CUSTB|P'
            }
        });

        dispGrid.init();

        //删除函数
        layui.delRows = function (ids) {
            layer.confirm('确定是否删除此数据？', {
                btn: ['确定', '取消'] //按钮
            }, function (index, sender) {
                $(".layui-layer-btn0", $(sender)).blur();//防止触发两次， 让确认按钮丢失焦点
                layer.close(index);
                com.ajax({
                    action: 'del_baseinfo',
                    data: {
                        billType: 'CRM_CUSTB|P',
                        id: ids
                    },
                    success: function (result) {
                        dispGrid.reload();
                        layer.msg('删除成功', { icon: 1, time: 1000 });
                    }
                });
            });
        };

        form.verify({
            name: function (value) {
                if (new RegExp(regexEnum.specialchar).test(value)) {
                    return '用户名不能有特殊字符';
                }
            }
        });
        //监听查询提交
        form.on('submit', function (data) {
            dispGrid.reload(data.field, true);
            return false;
        });
        //监听删除
        $("#btn_del").click(function () {
            var ids = dispGrid.getSelIds();
            if (!ids || ids.length == 0)
                layer.alert('请选择需要删除的记录！');
            else {
                layui.delRows(ids.join(','));
            }
        });
        //监听添加
        $("#btn_add").click(function () {
            layer.open({
                type:1,
                title: '添加黑名单',
                area:['400px','400px'],
                btn: ['保存', '取消'],
                content: $('#editDlg'),
                yes: function (index, layero) {
                    var usernames = $("#userNames").val();
                    if (!usernames || usernames.length == 0) {
                        layer.alert('请输入黑名单客户昵称', { icon: 2 });
                        return;
                    }
                    var arr = usernames.split('\n');
                    var users = '';
                    for (var i = 0; i < arr.length; i++) {
                        if (new RegExp(regexEnum.specialchar).test(arr[i])) {
                            layer.alert('第' + (i + 1) + '行昵称存在特殊字符', { icon: 2 });
                            return;
                        } else if (arr[i].length > 20) {
                            layer.alert('第' + (i + 1) + '行长度过长！', { icon: 2 });
                            return;
                        }
                        if (users.length > 0)
                            users += '\\r'
                        users += arr[i];
                    }
                    if (users.length > 0) {
                        com.ajax({
                            action: 'save_baseinfo',
                            data: {
                                billType: 'CRM_CUSTB|P',
                                forBillType: '0',
                                row: '{"cust":"' + users + '","mobile":"","id":0}'
                            },
                            success: function (result) {
                                dispGrid.reload();
                                layer.close(index);
                            }
                        });
                    }
                }
            });
        });
    });
</script>