<!--首页脚本-->
<script src="//cdn.bootcss.com/echarts/3.4.0/echarts.js"></script>
<script src="assets/js/index.js?v={{site.version}}"></script>
<!--首页脚本-->
<!--<script type="text/javascript">
    $(function () {
        $('#btnNavEC').on('click', function () {
            if ($(document.body).hasClass('sidebar-collapse')) {
                $(document.body).removeClass('sidebar-collapse');
            } else {
                $(document.body).addClass('sidebar-collapse');
            }
        });
    	
    });
    
</script>-->
